/* общие стили */
html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, pre,
a, font, img, ol, ul, li,
fieldset, form, label, legend,
table, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

#wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 900px;
}

/* стили, имеющие непосредственное отношение к самому слайдеру */

#dim-slider, .dlc-slider-container, .dlc-slider-item {
	position: relative;
	overflow: hidden;
}

#dim-slider {
	margin: 10px;
}

#dim-slider > div:first-child, .dlc-slider-container, .dlc-slider-item, .dlc-slider-container > div {
	height: 100%;
}

#dim-slider > div:first-child {
	margin: 0 auto;
	padding: 2%;
	border-radius: 10px;
	background: black;
	background: rgba(0,0,0,0.5);
	box-sizing: border-box;
}

.dlc-slider-container {
	border-radius: 10px;
	box-shadow: 0 0 10px white;
}

.dlc-slider-container > div {
	position: absolute;
	width:100%;
	top: 0;
	left:0;
}

.dlc-slider-item {
	width: 100%;
	float: left;
}

		.dlc-slider-item img {
			width: 100%;
		}

.dlc-slider-arrows {
	position: absolute;
	top: 42%;
	padding: 2%;
	box-shadow: inset 0 0 20px white;
}

	.dlc-slider-arrows:hover {
		box-shadow: inset 0 0 20px #FF4500;
	}

.dlc-slider-left {
	left: 4%;
}

.dlc-slider-right {
	right: 4%;
}

.dlc-slider-pagination {
	position: absolute;
	bottom: 5%;
	right: 6%;
	text-align: center;
	margin: 0 auto;
}

.dlc-slider-pagination > div {
	display: inline-block;
	margin-left: 5px;
	padding: 5px;
	height: 16px;
	width: 3px;
	box-shadow: inset 0 0 9px white;
}

	.dlc-slider-pagination > div:hover {
		box-shadow: inset 0 0 9px #FF4500;
	}

.dlc-slider-pagination .active-pag {
	background: #FF8C00 !important;
}

.dlc-slider-arrows, .dlc-slider-pagination > div {
	cursor: pointer;
	color: white;
	background: black;
	background: rgba(0,0,0,0.3);
	transition: background-color 0.5s ease 0s;
}

	.dlc-slider-arrows:hover, .dlc-slider-pagination > div:hover {
		background: #FF8C00;
	}

/* второй слайдер */

#dim2-slider {
	margin: 10px;
	height: 400px;
	position: relative;
	overflow: hidden;
}

#dim2-slider > div:first-child {
	height: 100%;
	margin: 0 auto;
	border-radius: 10px;
	box-sizing: border-box;
}

/* третий слайдер */

#dim3-slider {
	height: 300px;
	margin: 10px;
	position: relative;
	overflow: hidden;
}

#dim3-slider > div:first-child {
	margin: 0 auto;
	height: 100%;
	padding: 2%;
	border-radius: 10px;
	background: black;
	background: rgba(0,0,0,0.5);
	box-sizing: border-box;
}

.usual{
	text-decoration:none;
	color: #8B2500;
}

.usual:hover{
	font-weight:bold;
}

.usual-bl{
	color: black;
}
	
	.dlc-slider-item h2, .dlc-slider-item div, .dlc-slider-item > p {
		position: absolute;
		padding: 1%;
		border-radius: 3px;
	}
	
	.dlc-slider-item h2 {
		top: 2%;
		left: 2%;
		max-width: 70%;
		font-size: 1.2em;
		background: #cdb38b;
	}
	
	.dlc-slider-item div {
		top: 30%;
		left: 10%;
		max-width: 70%;
		background: linear-gradient(90deg, #E2E2E2 0%, white 50%, #E2E2E2 100%);
	}
	
	.dlc-slider-item p.pubmat {
		bottom: 10%;
		left: 5%;
		background: #cdb38b;
	}
	
	.dlc-slider-item p.read {
		bottom: 14%;
		right: 25%;
		background: linear-gradient(90deg, #E2E2E2 0%, white 50%, #E2E2E2 100%);
	}	

@media screen and (max-width: 768px) {

	.dlc-slider-item p.pubmat, .dlc-slider-item p.read{
		display: none;
	}
	
	.dlc-slider-item div, .dlc-slider-item h2{
		font-size: 0.8em;
	}

}